.header{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    background:#29ADFF;
    height:6vh;
    background-image:url(../../grasszone-banner.png);
    background-size:contain;
    background-repeat:no-repeat;z-index:9999;opacity:0.9;
}
h2:target {
    animation: gored;
    animation-duration: 3s;
}
@keyframes gored {
    0%{
        color:#fa0002;
    }
    100%{
        color:unset;
    }
}